.venv/
.venv
./venv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
.env
.env.local
.env.*.local
*.env
*.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.coverage
.coverage.*
.tox/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
*.ipynb